body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #509600;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(33, 146, 146);
    padding: 90px;
}

.imp {
    margin: 0 20px;
}
.inp {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(139, 255, 249);
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
